<feed xmlns="http://www.w3.org/2005/Atom" xmlns:opds="http://opds-spec.org/2010/catalog">
  <id>{{baseUrl}}</id>
  <title>OPDS Library</title>
  <updated>{{currentTime}}</updated>
  <author>
    <name>OPDS Library Manager</name>
  </author>
  <link rel="self" href="{{baseUrl}}" type="application/atom+xml;profile=opds-catalog;kind=navigation" />
  <link rel="start" href="{{baseUrl}}" type="application/atom+xml;profile=opds-catalog;kind=navigation" />

  {{#each books}}
  <entry>
    <id>{{../baseUrl}}/books/{{this.filename}}</id>
    <title>{{this.title}}</title>
    <updated>{{this.lastUpdated}}</updated>
    <link rel="http://opds-spec.org/acquisition" href="{{../baseUrl}}/books/{{this.filename}}" type="{{this.mimeType}}"
      length="{{this.size}}" />
    <link rel="http://opds-spec.org/image" href="{{../baseUrl}}/cover/{{this.filename}}" type="image/jpeg" />
    <link rel="http://opds-spec.org/image/thumbnail" href="{{../baseUrl}}/cover/{{this.filename}}" type="image/jpeg" />
  </entry>
  {{/each}}
</feed>
